.content-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin-bottom: 10px;
    padding: 16px;

    .content-item {
        padding: 8px;
    }

    .image-wrapper {
        margin-top: 20px;
        height: 150px;

        .content-image {
            width: 250px;
        }
    }
}
