.home-page {
    text-align: -webkit-center;
    background-color: #b00623;

    .large-banner-image {
        width: 100%;
    }

    .gold-background-box{
        width: 100%;
        background-color: #a48544;
    }
}

.home-logo {
    padding: 16px;
    margin: 10px;
}

