.home-page {
    text-align: -webkit-center;
    background-color: #af0522;

    .large-banner-image {
        width: 100%;
    }

    .gold-background-box{
        width: 100%;
        background-color: #a48544;
        margin-bottom: 10px;
    }

    .video-box {
        padding: 16px;

        iframe {
            max-width: 720px;
        }

        @media (min-width: 375px) {
            iframe { width: 320px; height: 180px; }
        }

        @media (min-width: 550px) {
            iframe { width: 500px; height: 280px; }
        }

        @media (min-width: 1200px) {
            iframe { width: 720px; height: 405px; }
        }
    }
}




