.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
    background-color: white;
    margin: 16px;

    .nav-menu {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 400px;
        border-top: solid;
        border-color: #af0522;

        .nav-option { 
            color: #af0522;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }

            
        }
    }
}